* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1400px;
  display: grid;
  font-size: 50px;
  font-family: sans-serif;
  color: black;
  background-color: lightgray;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "header header" "aside main" "footer footer";
}

body aside,
body main {
  min-height: 500px;
}

body header {
  margin-top: 150px;
  background-color: salmon;
  grid-area: header;
}

body aside {
  background-color: crimson;
  grid-area: aside;
}

body main {
  background-color: deepskyblue;
  grid-area: main;
}

body footer {
  background-color: lightpink;
  grid-area: footer;
}