@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* font-family: 'Big Shoulders Display', cursive;

font-family: 'Lexend Deca', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 25px;
  background-color: var(--gray);

  --primary: hsl(31, 77%, 52%);
  --secondary: hsl(184, 100%, 22%);
  --tertiary: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --gray: hsl(0, 0%, 95%);
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  width: 325px;
  max-width: 100%;
  border-radius: 10px;
  margin: 60px auto;
} */

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background-color: var(--cinza);
  padding: 20px;
  --laranja: hsl(31, 77%, 52%);
  --verde: hsl(184, 100%, 22%);
  --verde-escuro: hsl(179, 100%, 13%);
  --cinza: hsla(0, 0%, 100%, 0.75);
  --branco: hsl(0, 0%, 95%);
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  width: 325px;
  max-width: 100%;
  margin: 60px auto;
  border-radius: 8px;
  transition: 0.5s;
}

@media (min-width: 970px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    flex-direction: row;
    width: 920px;
    margin: 0;
  }
  .descricao {
    margin: 0 0 86px 0;
  }
}

img {
  width: 60px;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 39px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--cinza);
  margin: 40px 0 30px;
}

p {
  color: var(--cinza);
}

.card-sedan {
  background-color: var(--laranja);
}

.card-sedan a {
  color: var(--laranja);
}

.card-suvs {
  background-color: var(--verde);
}

.card-suvs a {
  color: var(--verde);
}

.card-luxury {
  background-color: var(--verde-escuro);
}

.card-luxury a {
  color: var(--verde-escuro);
}

.card {
  /* Mobile */
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  padding: 40px;
  transition: 0.5s;
  /* min-width: 300px; */
  /* min-height: 400px; */
}


/* .card__column {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.card__column--primary {
  background-color: var(--primary);
}
.card__column--secondary {
  background-color: var(--secondary);
}
.card__column--tertiary {
  background-color: var(--tertiary);
} */

.descricao {
  line-height: 1.6;
  color: var(--branco);
  margin: 0 0 30px 0;
}

.botao {
  align-self: flex-start;
  text-decoration: none;
  background-color: var(--cinza);
  border: 2px solid var(--branco);
  border-radius: 30px;
  padding: 15px 28px;
}


/* .btn {
  align-self: flex-start;
  text-decoration: none;
  background-color: var(--gray);
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 15px 28px;
} */


/* .card__title {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 39px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--gray);
  margin: 40px 0 30px;
}

.card__description {
  line-height: 1.6;
  color: var(--white);
  margin: 0 0 30px 0; */